.root {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  min-height: 100vh;
}

.header {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}

.card {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
  border: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
}

.statCard {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
}

.subtitle {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}
